.donation-container{
	display: grid;
}
.text{
	grid-row: 1;
	grid-column: 1;
	
	
  background-color: rgb(242,137,17); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif; 
}
.button{
	grid-row: 1;
	grid-column: 2;

  background-color: rgb(242,137,17); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
	  font-family: 'Fira Sans', sans-serif; 


}